body {
  overflow-x:hidden;
  padding:0;
  margin:0;
  }
 
h1 {
  position: relative;
  left: 30px;
  font-size: 3.6rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
  font-family: 'Indie Flower', cursive;
  letter-spacing: 0.04em;
  font-style: normal;
  line-height: 1.4;
}

h2{
  position: relative;
  left: 30px;
  width: 100%;
  font-size: 2.2rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
  font-family: 'Indie Flower', cursive;
  letter-spacing: 0.04em;
  font-style: normal;
  line-height: 1.4;
}

p.overview {
  position: relative;
  left: 30px;
  width: 95%;
  font-size: 2rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
  font-family: 'Indie Flower', cursive;
  letter-spacing: 0.04em;
  font-style: normal;
  line-height: 1.4;
  padding-bottom: 30px;
 }

 p.desc {
  position: relative;
  left: 30px;
  width: 95%;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
  font-family: 'Indie Flower', cursive;
  letter-spacing: 0.04em;
  font-style: normal;
  line-height: 1.4;
  padding-bottom: 20px;
 }

a {
  position: relative;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 400;
  color:#2448c9;
  font-family: 'Indie Flower', cursive;
  letter-spacing: 0.04em;
  font-style: normal;
  line-height: 1.4;
}
